:root {
    --text: #111111;
    --text-extend: #FFFFFF;
    --text-accent: #F27215;
    --text-accent-gray: #BBBBBB;

    --background: #FFFFFF;
    --background-accent: #F27215;

    --line: #111111;
    --line-extend: #BBBBBB;
}

.text {
    color: var(--text);
}

.text-link:hover {
    cursor: pointer;
    color: var(--text-accent);
}

.text-extend {
    color: var(--text-extend);
}

.text-accent {
    color: var(--text-accent);
}

.text-accent-gray {
    color: var(--text-accent-gray);
}