@font-face {
    font-family: "Rajdhani";
    src: url("/font/Rajdhani-Light.ttf");
}

@font-face {
    font-family: "Rajdhani Bold";
    src: url("/font/Rajdhani-SemiBold.ttf");
}

*:not(br):not(hr):not(img) {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 30px;
    line-height: 46px;
}

h3 {
    font-size: 26px;
    line-height: 40px;
}

h4 {
    font-size: 22px;
    line-height: 32px;
}

h5 {
}

h6 {
    /* font-size: 22px;
    line-height: 40px; */
}

.text-heading {
    font-family: "Rajdhani Bold", sans-serif;
    font-weight: 600;
}

.text {
    color: var(--text);
}

.text-link:hover {
    cursor: pointer;
    color: var(--text-accent);
}

.text-extend {
    color: var(--text-extend);
}

.text-accent {
    color: var(--text-accent);
}

.text-accent-gray {
    color: var(--text-accent-gray);
}

@media screen and (min-width: 100px) and (max-width: 1140px) {
    h1 {
    }

    h2 {
        font-size: 18px;
        line-height: 24px;
    }

    h3 {
    }

    h4 {
        font-size: 14px;
        line-height: 20px;
    }

    h5 {
    }

    h6 {

    }
}