:root {
    --text: #111111;
    --text-extend: #FFFFFF;
    --text-accent: #F27215;
    --text-accent-gray: #BBBBBB;

    --background: #FFFFFF;
    --background-accent: #F27215;

    --line: #111111;
    --line-extend: #BBBBBB;
}

:root {
    --padding: 0 10vw;
}

@media screen and (min-width: 100px) and (max-width: 1140px) {
    :root {
        --padding: 0;
        --padding-section: 0 5vw;
    }
}